@mixin ratio-object() {
   position: relative;
   overflow: hidden;

   &:before {
      content: "";
      display: block;
   }
}

@mixin ratio-object-inner() {
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
}

@if ($use-ratio-objects) {
   %ratio {
      @include ratio-object();
   }

      %ratio__inner {
         @include ratio-object-inner();
      }
}

