/*--------------------*\
 * FEATURES
\*--------------------*/
$use-grid: true !default;
$legacy-grid: false !default;
$responsive: true !default;
$global-border-box: true !default;
$desktop-first: true !default;
$use-ratio-objects: false !default;
$use-symbols: false !default;
$use-custom-checkbox: false !default;
$use-checkbox-slider: false !default;
$use-ratio-objects: false !default;
$use-custom-textarea-resize: true !default;
$use-buttons: false !default;

$media-direction: 'min' !default;
@if ($desktop-first) {
  $media-direction: 'max';
}

$desk-wide-start: 1280px!default;
$desk-start: 1080px !default;
$lap-start: 789px !default;
$palm-plus-start: 414px !default;
$palm-start: 360px !default;
$xpalm-start: 320px !default;

/*--------------------*\
 * Font Setup
\*--------------------*/
$fs-base: 16px !default;
$line-height: 18.4px !default;
$base-line-height: $line-height / $fs-base !default;
$grid-gut: 1.5 !default;
$base-spacing: $line-height / $fs-base !default;
$grid-spacing: $line-height / $fs-base !default;
$letter-spacing: 28px !default;
$base-letter-spacing: $letter-spacing / 1000px * 1em !default;

$push-pad: $base-spacing !default;
$push-pad-small: $base-spacing - .5 !default;
$push-pad-large: $base-spacing + .5 !default;

$fs-largest: 60px !default;
$fs-larger: 50px !default;
$fs-large: 40px !default;
$fs-h1: 30px !default;
$fs-h2: 25px !default;
$fs-h3: 20px !default;
$fs-h4: 18px !default;
$fs-h5: 16px !default;
$fs-h6: 14px !default;
$fs-small: 12px !default;
$fs-smaller: 10px !default;
$fs-smallest: 8px !default;


/*--------------------*\
 * GRID
\*--------------------*/
$grid-gut: 1.5 !default;

/*--------------------*\
 * GRID
\*--------------------*/
$transition-time: 175ms !default;
$transition-easing: ease-in !default;

/*--------------------*\
 * COLOR VARS
\*--------------------*/
$clr-base: #404040 !default;
$clr-base-lt: #979797 !default;
$clr-base-ltr: #a8a8a8 !default;
$clr-base-ltst: #EAEAEA !default;
$clr-base-dk: darken($clr-base, 5%) !default;

$clr-primary: #EE4596 !default;
$clr-primary-lt: lighten($clr-primary, 5%) !default;
$clr-primary-ltr: lighten($clr-primary, 10%) !default;
$clr-primary-ltst: lighten($clr-primary, 15%) !default;
$clr-primary-dk: darken($clr-primary, 5%) !default;

$clr-secondary: #56CFAD !default;
$clr-secondary-lt: lighten($clr-secondary, 5%) !default;
$clr-secondary-ltr: lighten($clr-secondary, 10%) !default;
$clr-secondary-ltst: lighten($clr-secondary, 15%) !default;
$clr-secondary-dk: darken($clr-secondary, 5%) !default;

$clr-tertiary: #f7931e !default;
$clr-tertiary-lt: lighten($clr-tertiary, 5%) !default;
$clr-tertiary-ltr: lighten($clr-tertiary, 10%) !default;
$clr-tertiary-ltst: lighten($clr-tertiary, 15%) !default;
$clr-tertiary-dk: darken($clr-tertiary, 5%) !default;

$clr-quintinary: #424f64 !default;
