@if $use-symbols {
  .symbol {
     @extend %symbol;
  }

  ._symbol-radio {fill:inherit;stroke:inherit;}
  ._symbol-check {fill:none;stroke:inherit;stroke-width:45;stroke-miterlimit:10;}

  .checkbox-symbol {
     @extend %symbol;
     @include px-and-rem(width, 20px);
     @include px-and-rem(height, 20px);
  }

}

%inline-icon {
  fill: inherit;
  display: inline-block;
  width: .8em;
  height: .8em;
  line-height: inherit;
  vertical-align: inherit;
}
