@mixin collapse-base () {
  transition: all $transition-time ease-in-out;
  overflow: hidden;
}

@mixin collapse-horizontal () {
  max-width: 0em;
  white-space: nowrap;
  padding-left: 0;
  padding-right: 0;
}

@mixin collapse-vertical () {
  @include collapse-base();
  max-height: 0em;
  padding-top: 0;
  padding-bottom: 0;
}

