@mixin px-and-rem ($property, $values) {
   $mix-value-p: ();
   $mix-value-r: ();
   @each $value in $values {
      @if ($value == 0)
      {
         $mix-value-p: join($mix-value-p, 0);
         $mix-value-r: join($mix-value-r, 0);
      }
      @else if is-px($value)
      {
         $mix-value-p: join($mix-value-p, $value);
         $mix-value-r: join($mix-value-r, px-to-rem($value));
      }
      @else if (unit($value) == '')
      {
         $mix-value-p: join($mix-value-p, $value * $fs-base);
         $mix-value-r: join($mix-value-r, $value * 1rem);
      }
      @else
      {
         @warn "Make use px or unit less values for value provided: `"+$value+"`@px-and-rem";
      }
   }
   #{$property}: $mix-value-p;
   #{$property}: $mix-value-r;
}
